@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/IndexStyle.css" />
}

@section Hero {
    <section class="hero-section">
        <div class="hero-content">
            <h1>Welcome to Golden Horizon</h1>
            <p>Experience luxury and comfort views in paradise</p>
            <a href="rooms.html" class="hero-login-btn">Go To Our Rooms</a>
        </div>
    </section>
}


@section Scripts {
    <script src="js/Home.js"></script>
}
