/* Hero Section */
.hero-section {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.55);
}

.hero-section h1 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .hero-section h1 {
        font-size: 4.5rem;
    }
}

.hero-section p {
    color: #ffffff;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .hero-section p {
        font-size: 1.75rem;
    }
}

.hero-section a {
    background-color: #cbb58f;
    color: #2e2b29;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s;
}

    .hero-section a:hover {
        background-color: #d7c29b;
    }
