html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


/* --- Navbar --- */
nav {
    position: fixed;
    width: 100%;
    z-index: 50;
    background: #2e2b29;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(168, 146, 107, 0.2);
}

    nav a {
        color: #e5e3df;
        text-decoration: none;
        transition: 0.3s;
    }

        nav a:hover {
            color: #cbb58f;
        }

#HotelName {
    color: #e5e3df;
}


.hero-section {
    min-height: calc(100vh - 70px); /* 70px تقريبًا ارتفاع navbar */
    width: 100vw;
    margin-left: calc(50% - 50vw); /* لإزالة أي shift */
    margin-right: calc(50% - 50vw);
}



/* --- Footer --- */
footer {
    background-color: #2e2b29;
    color: #e5e3df;
    padding: 60px 0 20px;
    font-family: 'Segoe UI', sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    text-align: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.logo-box {
    background-color: #cbb58f;
    color: #2e2b29;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 18px;
}

.footer-about p {
    color: #aaa;
    font-size: 14px;
    line-height: 1.6;
    max-width: 300px;
    margin: auto;
}

.footer-links h3,
.footer-social h3 {
    color: #cbb58f;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

    .footer-links ul li {
        margin: 8px 0;
    }

.footer-links a {
    color: #e5e3df;
    text-decoration: none;
    transition: color 0.3s;
}

    .footer-links a:hover {
        color: #cbb58f;
    }

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

    .social-icons a {
        color: #e5e3df;
        font-size: 18px;
        transition: color 0.3s;
    }

        .social-icons a:hover {
            color: #cbb58f;
        }

.footer-bottom {
    border-top: 1px solid rgba(168, 146, 107, 0.2);
    text-align: center;
    color: #aaa;
    font-size: 13px;
    margin-top: 40px;
    padding-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}
